/* ### Boilerplate ### */
/* Start Reset */
*,*:after,*:before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');


/* Basic HTML */
html{
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #eef0f2;
    background-color: #191919;
}

/* basic structure */

.wrapper{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

ul,li{
    list-style-type: none;
}

li>a{
    display: block;
    text-decoration: none;
}

.clearfix{
    clear:both;
}

.clear:after{
    content: "";
    display: table;
    clear: both;
}

.t-center{
    text-align: center;
}

.mtop-30{
    margin-top: 30px;
}
.mtop-60{
    margin-top: 60px;
}
.mbott-30{
    margin-bottom: 30px;
}
.mbott-60{
    margin-bottom: 60px;
}

/* basic colors */
/* main contrast */
.orange{
    background-color: #f15025;
}
.j-green{
    background-color: #092327;
}
.orange-text{
    color: #f15025;
}
.black{
    background-color: #191919;
}
.black-text{
    color: #191919;
}
/* area shades */
.white{
    background-color: #eef0f2;
}
.white-text{
    color: #eef0f2;
}
.light-grey{
    background-color: #ced0ce;
}
.dark-grey{
    background-color: #c6c7c4;
}